.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}

.card {
  background-color: transparent;
  height: 250px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #ffb5e8;
  color: white;
  padding: 20px 40px 20px 0px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}


.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 70px;
  text-align: center;
  cursor: pointer;
}

.cardDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}

.cardCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #f072a9;
  line-height: 10px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.spacing {
  margin-top: 40px;
}